@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.opacTranslate {
  animation: opacTranslate 0.3s ease-in-out;
}

@keyframes opacTranslate {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}