/* styles/signup.css */

.container {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}

.left-half, .right-half {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #f0f0f0;
}

.left-half {
  position: relative;
  background-color: #f0f0f0;
}

.signup-image {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.signup-form {
  padding: 20px;
  max-width: 400px;
  text-align: center;
  
}

.signup-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  width: 100%;
  padding: 10px;
  background-color: #333333;

  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}

.company-logo img {
  max-width: 100%;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 15px;
  display: flex; /* Added */
  align-items: center; /* Added */
}

.country-select {
  width: 5%; /* Set the width of the country select dropdown */
  margin-right: 5px;
  margin-bottom: 10px;
}


.country-select select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
}


.country-select-img {
  width: 15%;
  height: auto;
  width: '20px';
  margin-left: '5px';
}

.language-selector {
  position: absolute;
  top: 10px;
  left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ccc;
}

/* styles/signup.css */

/* Add a class to style the select element */
.select-language select {
  width: 100%; /* Make the select dropdown fill its container */
  padding: 10px; /* Add padding for better appearance */
  font-size: 16px; /* Set the font size */
  border-radius: 5px; /* Add rounded corners */
  background-color: #f0f0f0; /* Set background color */
  border: 1px solid #f0f0f0; /* Add border */
  color: #333; /* Set text color */
}

/* Style the options within the select element */
.select-language select option {
  background-color: #f0f0f0; /* Set background color */
  color: #333; /* Set text color */
}


.terms-condition-text {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  width: 328px;
  height: 19px;
}

.terms-condition-text span {
  font-weight: 300;
}

.link {
  color: black; /* Change link color to black */
  text-decoration: none; /* Remove underline */
}

.link:hover {
  text-decoration: underline; /* Add underline on hover */
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.terms {
  text-align: center; /* Align the text to the center */
  margin-top: 20px; /* Add some top margin to separate it from the form */
}


.error {
  color: red;
  font-size: 12px;
}
